language: node_js
node_js:
  - "0.10"
  - "0.8"
before_install:
  - sudo apt-get update
  - sudo apt-get install imagemagick graphicsmagick
  - sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++