[class^='sprite-'], [class*=' sprite-'] { background-image:url('./images/png/sprite.png'); background-size:75px 78px; }
.sprite-foo { background-position:0 0; width:75px; height:6px; }
.sprite-bar { background-position:0 -6px; width:75px; height:12px; }
.sprite-test { background-position:0 -18px; width:75px; height:6px; }
