house = 0px 0px 15px 15px
lena = 0px -15px 300px 168px
lock = 0px -183px 26px 31px
sprite($sprite)
    background-image: url('../sprite.png')
    background-position: $sprite[0] $sprite[1]
    width: $sprite[2]
    height: $sprite[3]
