.foo { background-image: url('./images/png/sprite.png'); background-position: 0 0; width: 150px; height: 12px; }
.bar { background-image: url('./images/png/sprite.png'); background-position: 0 -12px; width: 150px; height: 24px; }
.test { background-image: url('./images/png/sprite.png'); background-position: 0 -36px; width: 150px; height: 12px; }
