.foo { background-image: url('./images/png/sprite.png'); background-size: 75px 78px; background-position: 0 0; width: 75px; height: 6px; }
.bar { background-image: url('./images/png/sprite.png'); background-size: 75px 78px; background-position: 0 -6px; width: 75px; height: 12px; }
.test { background-image: url('./images/png/sprite.png'); background-size: 75px 78px; background-position: 0 -18px; width: 75px; height: 6px; }
