.oof { background-image: url('./images/png/sprite.png'); background-position: 0px 0px; width: 150px; height: 12px; }
.rab { background-image: url('./images/png/sprite.png'); background-position: 0px -12px; width: 150px; height: 24px; }
.tset { background-image: url('./images/png/sprite.png'); background-position: 0px -36px; width: 150px; height: 12px; }
