$oof: 0 0 150px 12px
$rab: 0 -12px 150px 24px
$tset: 0 -36px 150px 12px
@mixin sprite($sprite)
    background-image: url('./images/png/sprite.png')
    background-position: nth($sprite, 1) nth($sprite, 2)
    width: nth($sprite, 3)
    height: nth($sprite, 4)
