$foo-x: 0;
$foo-y: 0;
$foo-width: 150px;
$foo-height: 12px;
$foo: $foo-x $foo-y $foo-width $foo-height;
$bar-x: 0;
$bar-y: -12px;
$bar-width: 150px;
$bar-height: 24px;
$bar: $bar-x $bar-y $bar-width $bar-height;
$test-x: 0;
$test-y: -36px;
$test-width: 150px;
$test-height: 12px;
$test: $test-x $test-y $test-width $test-height;

@mixin sprite-image {
  background-image: url("./images/png/sprite.png");
}
@mixin sprite-position($sprite) {
  background-position: nth($sprite, 1) nth($sprite, 2);
}
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@mixin sprite($sprite) {
  @include sprite-image;
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
