$prefix-foo_x: 0;
$prefix-foo_y: 0;
$prefix-foo_width: 150px;
$prefix-foo_height: 12px;
$prefix-foo: $prefix-foo_x $prefix-foo_y $prefix-foo_width $prefix-foo_height;
$prefix-bar_x: 0;
$prefix-bar_y: -12px;
$prefix-bar_width: 150px;
$prefix-bar_height: 24px;
$prefix-bar: $prefix-bar_x $prefix-bar_y $prefix-bar_width $prefix-bar_height;
$prefix-test_x: 0;
$prefix-test_y: -36px;
$prefix-test_width: 150px;
$prefix-test_height: 12px;
$prefix-test: $prefix-test_x $prefix-test_y $prefix-test_width $prefix-test_height;

@mixin prefix-sprite_image {
  background-image: url("./images/png/sprite.png");
}
@mixin prefix-sprite_position($sprite) {
  background-position: nth($sprite, 1) nth($sprite, 2);
}
@mixin prefix-sprite_width($sprite) {
  width: nth($sprite, 3);
}
@mixin prefix-sprite_height($sprite) {
  height: nth($sprite, 4);
}
@mixin prefix-sprite($sprite) {
  @include prefix-sprite_image;
  @include prefix-sprite_position($sprite);
  @include prefix-sprite_width($sprite);
  @include prefix-sprite_height($sprite);
}
