$foo_x: 0;
$foo_y: 0;
$foo_width: 150px;
$foo_height: 12px;
$foo: $foo_x $foo_y $foo_width $foo_height;
$bar_x: 0;
$bar_y: -12px;
$bar_width: 150px;
$bar_height: 24px;
$bar: $bar_x $bar_y $bar_width $bar_height;
$test_x: 0;
$test_y: -36px;
$test_width: 150px;
$test_height: 12px;
$test: $test_x $test_y $test_width $test_height;

@mixin sprite_image {
  background-image: url("/this/is/my/spritepath.png");
}
@mixin sprite_position($sprite) {
  background-position: nth($sprite, 1) nth($sprite, 2);
}
@mixin sprite_width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite_height($sprite) {
  height: nth($sprite, 4);
}
@mixin sprite($sprite) {
  @include sprite_image;
  @include sprite_position($sprite);
  @include sprite_width($sprite);
  @include sprite_height($sprite);
}
