$oof_x: 0;
$oof_y: 0;
$oof_width: 150px;
$oof_height: 12px;
$oof: $oof_x $oof_y $oof_width $oof_height;
$rab_x: 0;
$rab_y: -12px;
$rab_width: 150px;
$rab_height: 24px;
$rab: $rab_x $rab_y $rab_width $rab_height;
$tset_x: 0;
$tset_y: -36px;
$tset_width: 150px;
$tset_height: 12px;
$tset: $tset_x $tset_y $tset_width $tset_height;

@mixin sprite_image {
  background-image: url("./images/png/sprite.png");
}
@mixin sprite_position($sprite) {
  background-position: nth($sprite, 1) nth($sprite, 2);
}
@mixin sprite_width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite_height($sprite) {
  height: nth($sprite, 4);
}
@mixin sprite($sprite) {
  @include sprite_image;
  @include sprite_position($sprite);
  @include sprite_width($sprite);
  @include sprite_height($sprite);
}
